*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width:80%;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width:80%;
    margin:auto;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;

}


/* background */
.bg_blue{
    background-color: #F4F9FD;
    width:100%;
}

.bg_white{
    background-color: white;
    width:100%;
}

.bg_img{
    background-image: url(/assets/img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height:1080px;

}



/* section header */
.site_header{
    width:100%;
}

.log_header{
    width:100%;
    height:100px;
}

#header_icon{
    background-color:#3C5363;
    border-radius: 15px;
    position:relative;
    top:30px;
}


.left_menu a{
    color:#3C5363;;
    font-size:1rem;
    text-decoration: none;
    position: relative;
    top:20px;
    left:10px 
   
}


#b_link{
    margin-left: 10px;
    border-left: 1px solid black;
    padding: 10px;
}

.right_menu{
    float:right;
}

.right_menu a{
    color:#FE775A;
    background-color:white;
    border:1px solid #FE775A;
    border-radius:10px;
    padding: 15px;
    text-decoration: none;
    position:relative;
    bottom:10px;
    
    
}

#colored{
    color:white;
    background-color:#FE775A;
    border:1px solid white;
    border-radius:10px;
    padding: 15px;
    text-decoration: none;
    margin-left:10px;
    position:relative;
    bottom:10px;
}

.right_menu span{
    font-size: 30px;
    padding-right: 40px;
    color:#39B7CC;
}


.logo{
    height:100px;
    width:50%;
    position: relative;
    top:30px;
}

.nav{
    width:50%;
    float:right;
}

#img_logo{
    width:15%;
}


.nav a{
    color:#3C5363;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    position: relative;
    bottom: 60px;
    left: 30%; 
}
.text{
    width:50%;
}

section .title{
    font-size: 90px;
    font-weight: 700;
    color:#3C5363;
    padding-top:100px;
}

section p{
    color:#3C5363;
    font-size: 30px;
    font-weight: 400;
    padding-top: 5%;
   
}


.text a{
    font-size: 40px;
    color:white;
    background-color:#FE775A;
    border:1px solid white;
    border-radius:10px;
    padding: 35px;
    text-decoration: none;
    position: relative;
    top: 100px;

}

#small_p{
    font-size: 25px;
    padding-top: 20%;
}

.bg_azure{
    width:100%;
    height:200px;
    background-color:#AFEBE4;
    border-top:4px solid #3C5363;
    border-bottom:10px solid #3C5363;
}



/* section main */


main{
    width:100%;
    
}

.main_blue{
    height: 100%;
}


.main_title{
    text-align: center;
}

.main_title img{
    height:400px;
    margin-top:40px;

}

.main_title h2{
    font-size:60px;
    font-weight: 700;
    color:#3C5363;
    padding-top: 30px;

}

.main_title p{
    font-size:30px;
    padding-top: 2%;
    font-size: 30px;
    padding-left: 9%;
    padding-right: 9%;

}


.r_main{
    height:500px;
     margin-top: 100px;
     border: 2px solid transparent;
     border-radius: 10px;
}

.column1{
    width:30%;
    height:100%;
    float:left;
    text-align: center;
    
}


#books{
    width: 100%;
    height: 200px;
    position: relative;
    top:100px;

}


.column1 a{
    font-size: 25px;
    color:white;
    background-color:#FE775A;
    border:1px solid white;
    border-radius:10px;
    padding: 40px;
    text-decoration: none;
    position: relative;
    top:200px;

} 


.column2{
    width:70%;
    height:100%;
    float:left;
}

#f_title{
    font-size:50px;
    font-weight: 700;
    color:#3C5363;
    padding-top: 5%;
}

h3{
    font-size:30px;
    font-weight:700;
    color:#3C5363;
    padding-top: 3%;
}


ul li {
    color:#3C5363;
    display:inline-block;
    padding-top:3%;
    font-size:30px;
    font-weight: 400;
    padding-right: 4%;
   
  
}

.check{
    margin-right:2%;
    font-size:20px;
    font-weight: 100;
    color:white;
    background-color:#FE775A;
    padding: 10px;
    border-radius: 30px;
}


.column3{
    width:100%;
    margin-top: 100px;
    margin-bottom:100px;
}

.col{
    background-color:white;
    width:30%;
    height:1200px;
    float:left;
    text-align: center;
    
   
}

.col_marketing{
    margin-right: 5%;

}

.col_sales{
    margin-right:5%;
}


.col img{
    height: 200px;
    margin-top: 40px;
}

.col h3{
    font-size:40px;
   
}

.col p{
    font-size:30px;
    margin:50px;
}


#divider{
    border-top:1px solid #3C5363;
    margin:50px;
    margin-top:100px;
}


#small_title{
    font-size:30px;
}

.col ul{
    padding-top:5%;
    margin-left:50px;
}


.col  ul li{
    display:list-item;
    text-align: left;
    list-style: none;
    font-size:25px;
    padding:3px;
    
   
}


.col ul li span{
    padding:5px;
}


.col a{
    font-size: 25px;
    color:white;
    background-color:#FE775A;
    border:1px solid white;
    border-radius:10px;
    padding: 40px;
    text-decoration: none;
    position: relative;
    top: 150px;   
}



.bg_gradient{
    height:1200px;
    width:100%;
    background:linear-gradient(180deg, #00ACB6 0%, #00BAA9 100%);

}

.w_text{
    text-align:center;
    padding-top: 5%;
    padding-left:50px;
    padding-right:50px;

}


.w_text h2{
    color:white;  
    font-size: 55px;

}


.w_text p{
    padding-top: 3%;
    color: white;
    font-size: 30px;

}


.w_text .top_section{
    margin-top:100px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width:25%;
    float:left;
}

#b_right{
    border-right:0;
}


.top_section img, .bottom_section img{
    height:60px;
   
}

.top_section h3, .bottom_section h3{
    font-size: 70px;
    color: white;
    padding-top: 5%;
}

.top_section p, .bottom_section p{
    font-size: 20px;   
    padding-top: 5%;
    padding-bottom: 10%;
}

.w_text .bottom_section{
    border-right: 1px solid white;
    width:25%;
    float:left;
    margin-top:0;
}

.bottom_section img{
    margin-top:50px;
}



.numbers{
    width:30%;
    color: #3C5363;
    text-align:center;
    margin-top:100px;
    float:left;

}


.numbers h1{
    font-size:90px;
    font-weight:600;
}


.numbers p{
    font-size: 25px;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 40px;

}

.numbers p span{
    font-weight: 700;
}

.logos{
    width:70%;
    float:left;
    text-align: center;
    margin-top:100px ;

}

.logos img{
    height: 50px;
    margin: 30px;
}
